body{
    background-color: hsl(257, 40%, 49%);
    background-image: url("../images/bg-desktop.svg");
    background-repeat:no-repeat;
    background-size: cover;
}
/*nav-styles*/


.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
}

.two-column-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    padding: 20px;
}

/* .profile-img-wrapper img{
    width: 100%;
} */

h1{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button{
    color: hsl(295, 85%, 74%);
    background-color: white;
    border: 0;
    padding: 20px 60px;
    border-radius: 50px;
    cursor: pointer;
}

.button:hover{
    background-color: hsl(295, 85%, 74%);
    color: white;
}

.social-media-icon{
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 0;
    right: 100px;
    padding: 10px;
}

.social-media-icon a i{
    color: white;
    border: 1px solid white;
    padding: 20px;
    border-radius: 50%;
}

.social-media-icon a i:hover{
    color: hsl(295, 85%, 74%);
    border: 1px solid hsl(295, 85%, 74%);
}

@media screen and (max-width:500px) {
    .two-column-wrapper{
        justify-content: center;
        text-align: center;
    }

    .container{
        justify-content: center;
        align-items: center;
    }

    .profile-img-wrapper img{
    width: 100%;}
}